Welcome {{userDetails?.first_name}}

<div id="menu">
    
        <div class="dropdown">
        <button onclick="userModule.search()" class="dropbtn">Search Users</button>
            <div id="users" class="dropdown-content">
                <input type="text" placeholder="Search.." id="srch" onkeyup="userModule.filterFunction()">
                <div id="usersList">
                </div> 	
            </div>
        </div>
    
    <a [routerLink]="['/activities']" class="dropbtn">Activity List</a>
    
</div>
<div id="details">
    <div id="msg">
    </div>
    <h2>WELCOME {{userDetails?.first_name}} </h2>
    <h3>Your Details:</h3>
    <ul>
        <li>First Name: {{userDetails?.first_name}}</li>
        <li>Last Name: {{userDetails?.last_name}}</li>
        <li>Email ID: {{userDetails?.email}}</li>
        
    </ul>
    <button class="btn" title='Edit' click="edit()"><i class='fa fa-edit'></i> </button>
</div>
<div *ngIf="editDetails">
    <h2>WELCOME {{userDetails?.first_name}} </h2>
    <h3>Edit Your Details:</h3>
        <ul>
            <li>First Name:<input type="text" id="frst1" name="fname"></li>
            <li>Last Name:<input type="text" id="lst1" name="lname"></li>
            <li>Email ID:<input type="text" id="em1" name="email"></li>
        </ul>
        <input type="hidden" name="save" id="save" value="save">
        <button name="submit" class="btn" id="update" title='save' onclick="userModule.save()" ><i class='fa fa-save'></i> </button>
</div>

<div id="userDetails">
    <button id="close" title='close' onclick="userModule.closeModal()"><i class='fa fa-close'></i></button>   
    <h3>User Details:</h3>
        <div id="all">
        </div>
         <button id="del" title='delete user' onclick="userModule.deleteUser()"><i class='fa fa-trash'></i> </button>  
</div>